[flake8]
exclude =
    migrations,
    venv,
    __pycache__,
    .git,
    lib
ignore =
    E501,     # длинные строки (не критично)
    F401      # неиспользуемые импорты (часто бывают в миграциях)
max-line-length = 120
